[package]
name = "todors"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "todors"
path = "src/main.rs"

[dependencies]
chrono = "0.4.38"
clap = { version = "4.5.7", features = ["derive"] }
serde = { version = "1.0.213", features = ["derive"] }
toml = "0.8.14"
