[package]
name = "todors"
version = "0.0.8"
edition = "2021"

[[bin]]
name = "todors"
path = "src/main.rs"

[dependencies]
chrono = "0.4.39"
clap = { version = "4.5.30", features = ["derive"] }
serde = { version = "1.0.217", features = ["derive"] }
toml = "0.8.20"
colored = "3"

[dev-dependencies]
tempfile = "3.17"
