[package]
name = "todors"
version = "0.0.2"
edition = "2021"

[[bin]]
name = "todors"
path = "src/main.rs"

[dependencies]
chrono = "0.4.38"
clap = { version = "4.5.20", features = ["derive"] }
serde = { version = "1.0.214", features = ["derive"] }
toml = "0.8.19"
